@font-face {
  font-family: "architectural";
  src: url("/resources/fonts/Architectural/Web-TT/Architectural.woff") format("woff");
}
@font-face {
  font-family: "cupcake";
  src: url("/resources/fonts/jellyka_cuttycupcakes/Jellyka-CuttyCupcakes.woff") format("woff");
}
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: architectural;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

p {
  font-family: cupcake;
}

h1 {
  color: #272e2e;
}

a {
  color: #272e2e;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 480px) {
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}

.bg-primary {
  background: #272e2e;
}

.text-secondary {
  color: #E0EAEB;
}

.text-white {
  color: white;
}

.navbar .container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.pt-2 {
  padding-top: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.br {
  border-radius: 20px;
}

.display-f {
  display: flex;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 3rem;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 0.125rem;
  transform: translateY(0);
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
figure:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(220, 20, 60, 0.8);
  opacity: 0;
  transition: opacity 0.6s ease;
}
figure:nth-child(2), figure:nth-child(4), figure:nth-child(7) {
  grid-row: span 2;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem 2.25rem 1.5rem 1.125rem;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  line-height: 1.2;
  letter-spacing: 0.03125rem;
  z-index: 1;
  opacity: 0;
  transform: translateY(-12px) rotate(-3deg);
  transition: opacity 0.6s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

figure:hover {
  transform: translateY(-6px);
  box-shadow: rgba(0, 0, 0, 0.5) 0 12px 24px -12px;
}
figure:hover:after {
  opacity: 1;
}
figure:hover img {
  transform: scale(1.05);
}
figure:hover figcaption {
  opacity: 1;
  transform: translateY(0) rotate(-3deg);
}