@font-face {
    font-family: 'architectural';
    src: url('/resources/fonts/Architectural/Web-TT/Architectural.woff')format('woff');
}
@font-face {
    font-family: 'cupcake';
    src: url('/resources/fonts/jellyka_cuttycupcakes/Jellyka-CuttyCupcakes.woff')format('woff');
}